<div class="w-full h-[52px] rounded-lg p-2">
    <div class="flex items-center">
        <span class="skeleton size-[36px] bg-grey2 rounded-full mr-4"></span>
        <span class="skeleton w-[110px] h-[20px] rounded-full bg-grey2"></span>
    </div>
</div>
<div class="w-full h-[52px] rounded-lg p-2">
    <div class="flex items-center">
        <span class="skeleton size-[36px] bg-grey2 rounded-full mr-4"></span>
        <span class="skeleton w-[110px] h-[20px] rounded-full bg-grey2"></span>
    </div>
</div>
<div class="w-full h-[52px] rounded-lg p-2">
    <div class="flex items-center">
        <span class="skeleton size-[36px] bg-grey2 rounded-full mr-4"></span>
        <span class="skeleton w-[110px] h-[20px] rounded-full bg-grey2"></span>
    </div>
</div>