<app-custom-title [titleCustom]="name()">
    <div
      class="h-[40px] w-[40px] leading-14 flex items-center justify-center rounded-full overflow-hidden"
      (click)="onClick()"
      [ngClass]="{
        'bg-[#ebf5ff] hover:bg-[#dff0ff] active:bg-[#b4cce3]': isActive(),
        'bg-grey2 hover:bg-[#dbdbdb] active:bg-[#c1c1c1]': !isActive()
      }"
    >
      <i
        [class]="icon() + ' text-[18px]'"
        [ngClass]="{
          'text-primary': isActive(),
          'text-black': !isActive()
        }"
      ></i>
    </div>
  </app-custom-title>