<div class="flex flex-col gap-4">
  @for (post of posts(); track post.id) {
  <app-post
    [postId]="post.id"
    [username]="post.author_name"
    [media]="post.medias"
    [content]="post.content"
    [privacy]="post.privacy"
    [avatar]="post.avatar"
    [time]="formatDate(post.created_at)"
    [timeAgo]="getTimeAgo(post.created_at)"
    [isOnline]="post.is_online"
    [totalInteractions]="post.interaction_response.total_interactions"
    [highestInteraction]="post.interaction_response.highest_interaction"
    [secondHighestInteraction]="post.interaction_response.second_highest_interaction"
  ></app-post>
  }
</div>
