<div class="flex w-full px-4 py-1">
    <app-card styleClass="w-full h-full items-center justify-center gap-2 rounded-md" class="w-1/3 h-[35px]">
        <i visual class="fa-regular fa-thumbs-up text-[15px] text-grey"></i>
        <span text class="text-[15px] text-grey font-medium">Thích</span>
    </app-card>
    <app-card styleClass="w-full h-full items-center justify-center gap-2 rounded-md" class="w-1/3 h-[35px]">
        <i visual class="fa-regular fa-message text-[15px] text-grey"></i>
        <span text class="text-[15px] text-grey font-medium">Bình luận</span>
    </app-card>
    <app-card styleClass="w-full h-full items-center justify-center gap-2 rounded-md" class="w-1/3 h-[35px]">
        <i visual class="fa-solid fa-share text-[15px] text-grey"></i>
        <span text class="text-[15px] text-grey font-medium">Thích</span>
    </app-card>
</div>
