<div class="fixed top-0 left-0 right-0 bottom-0 bg-white bg-opacity-70 z-50 flex justify-center items-center" (click)="onCloseNewPostForm()">
    <form [formGroup]="createPostForm" (ngSubmit)="onSubmit()" class="w-[500px] min-h-[428px] bg-white rounded-lg shadow-lg" (click)="$event.stopPropagation()" enctype="multipart/form-data">
        <div class="relative h-[60px] w-full border-b border-[#e0e3e7] flex items-center justify-center">
            <span class="text-[20px] font-bold">Tạo bài viết</span>
            <span class="size-[36px] bg-grey2 flex justify-center items-center rounded-full absolute right-3 hover:opacity-85 cursor-pointer" (click)="onCloseNewPostForm()"><i class="fa-solid fa-xmark text-[20px] text-grey"></i></span>
        </div>
        <div class="p-4">
            <div class="flex gap-3 items-center pb-4">
                <img [src]="avatar" alt="" class="size-[40px] rounded-full">
                <div class="flex flex-col">
                    <span class="text-[15px] font-semibold">{{ fullname }}</span>
                    <select formControlName="privacy" name="privacy" id="privacy" class="w-[120px] h-[24px] border-none outline-none rounded-lg bg-grey2 text-[13px] font-semibold cursor-pointer">
                        <option value="public">Công khai</option>
                        <option value="friends">Bạn bè</option>
                        <option value="only me">Chỉ mình tôi</option>
                      </select>
                </div>
            </div>
            <div class="max-h-[400px] overflow-y-auto scroll-container">
                <textarea formControlName="content" name="content" id="content" cols="30" rows="10" class="w-full h-[170px] border-none outline-none resize-none" placeholder="Hiển ơi, bạn đang nghĩ gì thế?" [ngClass]="{
                    'h-[80px]': selectedMediaList.length > 0,
                    'h-[170px]': selectedMediaList.length === 0
                }"></textarea>
                <div class="pb-3 grid gap-[5px] " [ngClass]="{
                    'grid-cols-1': firstFourMedia.length === 1,
                    'gtc-2': firstFourMedia.length === 2,
                    'grid-rows-2 grid-cols-2': firstFourMedia.length === 3 || firstFourMedia.length === 4
                }">
                    @if(selectedMediaList.length > 0){
                        @for (media of firstFourMedia; track $index) {
                            @if(media.type === 'image'){
                                @if(media !== firstFourMedia[3] || selectedMediaList.length <= 4){
                                    <img [src]="media.src" alt="" class="object-cover w-full" [ngClass]="{
                                        'aspect-square col-span-1': firstFourMedia.length === 2 || (firstFourMedia.length === 3 && media !== firstFourMedia[0]) || firstFourMedia.length === 4,
                                        'aspect-[2/1] col-span-2': firstFourMedia.length === 3 && media === firstFourMedia[0]
                                    }">
                                }@else if(media === firstFourMedia[3] && selectedMediaList.length > 4){
                                    <div class="relative aspect-square col-span-1">
                                        <img [src]="media.src" alt="" class="object-cover w-full aspect-square col-span-1">
                                        <div class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center">
                                            <span class="text-white text-[25px] font-medium">+{{ selectedMediaList.length - 4 }}</span>
                                        </div>
                                    </div>
                                }
                                <!-- <img [src]="media.src" alt="Selected Image" class="max-w-[100px] h-auto rounded-lg my-[10px]"> -->
                            }@else if (media.type === 'video') {
                                <!-- <video [src]="media.src" controls class="max-w-[100px] h-auto rounded-lg my-[10px]"></video> -->
                                @if(media !== firstFourMedia[3] || selectedMediaList.length <= 4){
                                    <video [src]="media.src" alt="" class="video-post object-cover w-full" controls [ngClass]="{
                                        'aspect-square col-span-1': firstFourMedia.length === 2 || (firstFourMedia.length === 3 && media !== firstFourMedia[0]) || firstFourMedia.length === 4,
                                        'aspect-[2/1] col-span-2': firstFourMedia.length === 3 && media === firstFourMedia[0]
                                    }" [attr.controls]="media === firstFourMedia[0] ? '' : null"></video>
                                }@else if(media === firstFourMedia[3] && selectedMediaList.length > 4){
                                    <div class="relative aspect-square col-span-1">
                                        <video [src]="media.src" alt="" class="video-post object-cover w-full aspect-square col-span-1"></video>
                                        <div class="absolute inset-0 bg-black bg-opacity-50 flex justify-center items-center">
                                            <span class="text-white text-[25px] font-medium">+{{ selectedMediaList.length - 4 }}</span>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    }
                </div>
            </div>  
            <div class="flex border border-[#e0e3e7] rounded-lg h-[58px] shadow-sm items-center">
                <span class="flex items-center gap-3 px-4 font-semibold rounded-lg">
                    Thêm vào bài viết của bạn
                </span>
                <input type="file" id="fileInput" class="hidden" multiple (change)="onFilesSelected($event)" accept="image/*, video/*">
                <img src="assets/icons/image.png" alt="" class="size-[24px] cursor-pointer" (click)="triggerFileInput()">
            </div>
            <button type="submit" class="w-full h-[36px] rounded-lg font-semibold bg-primary mt-[15px] text-white">Đăng</button>
        </div>
    </form>
</div>