<div class="w-full h-[123px] bg-white rounded-lg px-4 py-3 mt-[22px] shadow-md mb-[16px]">
    <div class="flex items-center gap-2">
        <a routerLink="/account" class="group">
            <img [src]="getAvatar()" alt="" class="w-[40px] h-[40px] rounded-full group-hover:brightness-[0.85]">
        </a>
        <div class="h-[40px] flex-grow bg-[#f0f2f5] rounded-full text-grey text-[17px] leading-[40px] px-3 cursor-pointer hover:bg-hover">
            {{ getName() }} ơi, bạn đang nghĩ gì thế?</div>
    </div>
    <div class="w-full h-[1px] bg-[#e0e3e7] mt-[12px] mb-[9px]"></div>
    <div class="w-full flex">
        <app-card styleClass="h-full justify-center gap-2" class="w-1/3 h-[40px]">
            <img visual src="assets/icons/live.png" alt="Images">
            <span text class="text-[15px] font-medium text-grey">Video trực tiếp</span>
        </app-card>
        <app-card styleClass="h-full justify-center gap-2" class="w-1/3 h-[40px]">
            <img visual src="assets/icons/image.png" alt="Images">
            <span text class="text-[15px] font-medium text-grey">Ảnh/video</span>
        </app-card>
        <app-card styleClass="h-full justify-center gap-2" class="w-1/3 h-[40px]">
            <img visual src="assets/icons/feeling.png" alt="Images">
            <span text class="text-[15px] font-medium text-grey">Cảm xúc/hoạt động</span>
        </app-card>
    </div>
</div>