<app-section-with-header>
    <span header class="text-grey text-[17px] font-medium pl-[9px] leading-[37px]">Sinh nhật</span>
    <div content class="mb-[10px] ">
        <app-card styleClass="w-full h-[52px] gap-[10px] px-[10px]">
            <span visual class="w-[40px] h-[40px] flex items-center justify-center">
                <i class="fa-solid fa-gift text-[28px] text-[#1e90f7]"></i>
            </span>
            <span text class="text-text text-[15px]">
                Hôm nay là sinh nhật của <span class="text-text font-medium">Thúy Nga</span> và <span class="text-text font-medium">Thế Hiển</span>
            </span>
        </app-card>
    </div>
</app-section-with-header>