/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f2f5;
  overflow-x: hidden;
}

.input-search::placeholder {
  @apply font-normal;
  @apply text-slate-500;
  @apply text-base;
}

.scroll-container {
  overflow: auto;
}

.scroll-container::-webkit-scrollbar {
  width: 8px;
  border-radius: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
  transition: 0.3s;
}

.scroll-container:hover::-webkit-scrollbar-thumb {
  background: #bcc0c4;
}

.skeleton {
  background: linear-gradient(
    to right,
    #e0e0e0 0%,
    #f0f0f0 50%,
    #e0e0e0 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}
.gtc-2{
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.overlay-image {
  position: relative; /* Tạo vùng định vị cho pseudo-element */
  display: block; /* Đảm bảo ảnh là block-level */
  width: 100%; /* Chiều rộng ảnh */
  height: auto; /* Đảm bảo giữ nguyên tỷ lệ ảnh */
}

.overlay-image::after {
  content: attr(data-content); /* Lấy nội dung từ thuộc tính data-content */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Căn giữa nội dung */
  background-color: rgba(0, 0, 0, 0.5); /* Lớp phủ mờ */
  color: white; /* Màu chữ */
  font-size: 24px; /* Kích thước chữ */
  padding: 10px 20px; /* Khoảng cách bên trong lớp phủ */
  border-radius: 10px; /* Bo góc lớp phủ */
  pointer-events: none; /* Không ảnh hưởng tới thao tác chuột */
}
