<div class="pb-[10px]">
    <a routerLink="/account">
      <app-card styleClass="h-[52px] gap-3 px-2">
        <img visual src="assets/avatars/thehien.jpg" alt="Avatar" class="rounded-full w-[36px] h-[36px]"/>
        <span text class="font-medium text-[15px]">Thế Hiển</span>
      </app-card>
    </a>
    @for(item of navItems; track item.name){
        <app-tag-item [url]="item.url" [name]="item.name" [icon]="item.icon"/>
    }
    <app-more-action-item [iconClass]="'fa-solid fa-angle-down'" [actionTitle]="'Xem thêm'" ></app-more-action-item>
  </div>