<app-section-with-header class="contacts">
    <span header class="text-grey text-[17px] font-medium pl-[9px] leading-[37px]">Người liên hệ</span>
    <div options class="flex items-center gap-1">
        <span class="cursor-pointer hover:bg-hover rounded-full w-[37px] h-[37px] flex items-center justify-center">
            <i class="fa-solid fa-magnifying-glass text-[15px] text-grey"></i>
        </span>
        <span class="cursor-pointer hover:bg-hover rounded-full w-[37px] h-[37px] flex items-center justify-center">
            <i class="fa-solid fa-ellipsis text-[18px] text-grey"></i>
        </span>
    </div>
    <div content class="mb-[10px]">
        <app-contact-item image="thuynga.jpg" username="Thúy Nga" [isOnline]="true"></app-contact-item>
        <app-contact-item image="thehien.jpg" username="Thế Hiển" [isOnline]="true"></app-contact-item>
        <app-contact-item image="thanhkhiem.jpg" username="Thành Khiêm" [isOnline]="true"></app-contact-item>
        <app-contact-item image="thehien.jpg" username="Thế Hiển" [isOnline]="false"></app-contact-item>
        <app-contact-item image="thanhkhiem.jpg" username="Thành Khiêm" [isOnline]="false"></app-contact-item>
        <app-contact-item image="thuynga.jpg" username="Thúy Nga" [isOnline]="false"></app-contact-item>
        <app-contact-item image="thuynga.jpg" username="Thúy Nga" [isOnline]="false"></app-contact-item>
        <app-contact-item image="thuynga.jpg" username="Thúy Nga" [isOnline]="false"></app-contact-item>
        <app-contact-item image="thuynga.jpg" username="Thúy Nga" [isOnline]="false"></app-contact-item>
        <app-contact-item image="thuynga.jpg" username="Thúy Nga" [isOnline]="false"></app-contact-item>
        <app-contact-item image="thuynga.jpg" username="Thúy Nga" [isOnline]="false"></app-contact-item>
        <app-contact-item image="thuynga.jpg" username="Thúy Nga" [isOnline]="false"></app-contact-item>
        <app-contact-item image="thuynga.jpg" username="Thúy Nga" [isOnline]="false"></app-contact-item>
    </div>
</app-section-with-header>