<div class="relative group cursor-pointer">
  <ng-content />
  <div
    class="invisible group-hover:visible absolute bg-[#0b0b0bcc] px-[10px] py-[10px] leading-[16px] text-white text-[13px] left-1/2 -translate-x-1/2 rounded-lg opacity-0 group-hover:opacity-100 transition-opacity duration-[400ms] whitespace-nowrap z-10 tracking-normal"
    [ngClass]="{
      'text-center': center(),
      'text-left': !center()
    }"
    [ngStyle]="{ transform: 'translate(-50%, ' + y() + 'px)' }"
    [innerHTML]="titleCustom()"
  >
  </div>
</div>
