<div class="flex flex-col lg:mb-[180px]">
    <img src="assets/logos/logo-facebook.svg" alt="Logo Facebook" class="w-[212px] h-[70px] mx-auto lg:mx-[-20px]">
    <h1 class="text-text text-[36px] text-center lg:text-start">Đăng nhập gần đây</h1>
    <span class="text-[#606770] text-[15px] font-normal mb-[20px] text-center lg:text-start">Nhấp vào ảnh của bạn hoặc thêm tài khoản.</span>
    <div class="flex gap-[18px]">
        <a href="home" class="relative group">
            <span class="absolute top-[5px] left-[5px] bg-grey size-[17px] rounded-full flex justify-center items-center group-hover:bg-white group-hover:text-grey group-hover:size-[22px] group-hover:top-[-5px] group-hover:left-[-5px] transition-all duration-200">
                <i class="fa-solid fa-xmark text-white text-[13px] group-hover:text-grey group-hover:text-[15px]"></i>
            </span>
            <div class="w-[160px] h-[206px] rounded-lg bg-white rounded-lg overflow-hidden shadow-around hover:shadow-around-lg transition-all duration-200">
                <img src="assets/avatars/thehien.jpg" alt="" class="w-full">
                <div class="flex justify-center items-center">
                    <span class="text-text text-[18px] leading-[46px]">Hiển</span>
                </div>
            </div>
        </a>
        <div class="w-[160px] h-[206px] rounded-lg bg-white rounded-lg overflow-hidden shadow-around hover:shadow-around-lg transition-all duration-100 cursor-pointer">
            <div class="flex justify-center items-center w-full h-[160px] bg-background">
                <span class="bg-primary rounded-full w-[40px] h-[40px] flex justify-center items-center">
                    <i class="fa-solid fa-plus text-[30px] text-white"></i>
                </span>
            </div>
            <div class="flex justify-center items-center">
                <span class="text-primary text-[18px] leading-[46px]">Thêm tài khoản</span>
            </div>
        </div>
    </div>
</div>
