<div class="flex flex-col items-center bg-white shadow-sm">
    <div>
        <img src="assets/post-image/post-image-2.jpg" alt="" class="w-[1100px] h-[400px] object-cover object-center rounded-b-lg">
    </div>
    <div class="flex flex-row justify-between w-[1100px] items-end">
        <div class="flex flex-row ml-10">
            <div class="relative">
                <img src="assets/post-image/post-image-2.jpg" alt="" class="size-[172px] rounded-full translate-y-[-40px] border-4 border-white">
                <span class="size-[32px] border-4 border-white bg-green absolute left-[130px] rounded-full top-[85px]"></span>
            </div>
            <div class="flex flex-col ml-[18px] mt-[15px]">
                <span class="text-[32px] text-black font-bold">{{ fullname() }}</span>
                <div class="flex flex-row gap-1 text-grey font-semibold">
                    <span>{{ totalFriends() }} người bạn</span>•
                    <span>{{ mutualFriends() }} bạn chung</span>
                </div>
                <div class="flex">
                    @for(image of images; track image.id){
                        <img [src]="image.url" alt="" class="size-[34px] rounded-full mt-[6px] border-2 border-white" [ngClass]="{ '-ml-[7px]': image.id !== 1 }"
                        [style.zIndex]="images.length - image.id">
                    }
                </div>
            </div>
        </div>
        <div class="mb-[50px] mr-[50px] flex gap-2">
            <button class="h-[36px] px-3 bg-grey2 rounded-md hover:opacity-90">
                <i class="fa-solid fa-user-check"></i>
                <span class="ml-[5px] font-semibold">Bạn bè</span>
            </button>
            <button class="h-[36px] bg-primary text-white rounded-md px-3 hover:opacity-90">
                <i class="fa-brands fa-facebook-messenger"></i>
                <span class="ml-[5px] font-semibold">Nhắn tin</span>
            </button>
            <button class="h-[36px] px-3 bg-grey2 rounded-md my-auto hover:opacity-90"><i class="fa-solid fa-angle-down"></i></button>
        </div>
    </div>
</div>