<div class="w-full bg-white rounded-lg shadow-md">
    <app-post-header [avatar]="avatar()" [username]="username()" [pathname]="pathname()" [privacy]="privacy()" [time]="time()" [timeAgo]="timeAgo()" [isOnline]="isOnline()" [hiddenIcon]="hiddenIcon()" [options]="options()" [postId]="postId()"></app-post-header>
    <app-post-content [content]="content()" [medias]="media()" [totalMedias]="totalMedias()"></app-post-content>
    <app-post-interactions [postId]="postId()" [interactionCount]="totalInteractions()" [commentCount]="0" [shareCount]="0" [highestInteraction]="highestInteraction()" [secondHighestInteraction]="secondHighestInteraction()"></app-post-interactions>
    <app-post-actions></app-post-actions>
    <div class="w-[calc(100%-28px)] h-[1px] bg-[#e0e3e7] mx-auto"></div>
</div>